<div class="row">
    <div class="col-xs 12">
        <img [src]="recipe.imagePath"
             class="img-responsive" 
             alt="{{recipe.name}}" 
             style="max-height: 300px;">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{recipe.name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1 class="page-header"></h1>
    </div> 
    <div class="row">
        <div class="col-xs-12">
            <div class="btn-group" appDropdown>
                <button type="button" class="btn btn-primary dropdown-toggle">
                    Manage Recipe <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#">
                            <i class="fa fa-plus"></i> Add To Shopping List
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-pencil"></i> Edit Recipe
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-trash"></i> Delete Recipe
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>  
</div>
<div class="row">
    <div class="col-xs-12">
        {{recipe.description}}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Ingridiants
    </div>
</div>
